body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "微软雅黑";
    font-size: 0.22rem;
}

.box {
    max-width: 750px;
    height: auto;
    margin: 0 auto;
}

#allmap {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#result {
    width: 100%;
    font-size: 12px;
}

.banner {
    height: 3.2rem;
}

.banner>img {
    width: 7.5rem;
    height: 3.2rem;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}