* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.box {
    max-width: 750px;
    height: auto;
    margin: 0 auto;
    font-family: "Noto Sans SC";
}

.banner {
    width: 100%;
    height: 2rem;
}

.banner>img {
    width: 7.5rem;
    height: 2rem;
}

.fox {
    width: 92%;
    margin: 0 auto;
    margin-top: 0.29rem;
}

.outer {
    font-size: 0.22rem;
    line-height: 0.39rem;
    color: rgb(51, 51, 51);
    height: 138rem;
}

.txt {
    text-align: center;
    font-weight: bold;
}